body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

nav {
  height: 70px;
  display: flex;
  padding: 20px 36px;
  box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.1);
}

.nav-logo {
  max-width: 180px;
}

.intro-hotelgrid {
  height: 700px;
  width: 1400px;
}
.gray{
  color: #918E9B;
}
.bold{
  font-weight: bold;
}
/* airbnb 1 */
section {
  padding: 20px;
}

.section-intro {
  display: flex;
  flex-direction: column;
}

.intro-hotelgrid {
  max-width: 1400px;
  align-self: center;
}
.card {
  width: 175px;
  font-size: 12px;
}

.card--image {
  width: 100%;
  border-radius: 9px;
}

.card--stats {
  display: flex;
  align-items: center;
}
.p-main{
  display: flex;
  align-items: center;
}

.card--star {
  height: 14px;
}
/* .hotel--header {
  margin-bottom: 16px;
}

.hotel-text {
  margin-top: 0;
} */